/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}
//*************style for single-(taxonomy)
.hentry {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: inherit;
  align-content: center;
  align-items: center;
  .entry-header {
    height: inherit;
    width: 100%;
    img {
      width: inherit;
      height: 70vmax;
      object-fit: cover;
    }
    h1 {
      padding-top: 5%;
      width: 70%;
      align-self: center;
      font-size: 2.7vmax;
      text-transform: uppercase;
      margin: 0 auto;
    }
    .entry-meta {
      width: 70%;
      margin: 2% auto;
      font-size: 0.8rem;
      text-transform: uppercase;
      color: #404040;
    }
  }
  .entry-content {
    width: 70%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.75;
    p {
      text-align: justify;
      color: #404040;
    }
  }
  .entry-footer {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5%;
    .social-sites {
      list-style-type: none;
      display: flex;
      flex-flow: row nowrap;

      li {
        width: 7vmax;
        padding: 1%;
        border: 1px solid #404040;
        margin-right: 2%;
        text-align: center;
        &:hover a,
        &:hover {
          cursor: pointer;
          background: #248a83;
          color: white;
        }
        a {
          text-decoration: none;
          color: #404040;
          font-size: 1vmax;

          i {
            font-size: 1.3vmax;
            margin-right: 5%;
          }
        }
      }
    }
  }
}
//***************CODING for PAGE AREA
.entry-title {
  width: 1120px;
  text-align: center;
}
.page-content {
  width: 1120px;

  ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 3% 0;
    border-bottom: 1px dashed #c8c8c8;

    li {
      padding: 1%;
      margin-right: 2%;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #248a83;
        font-size: 1.3vmax;
        &:hover {
          cursor: pointer;
          color: #2f1339;
        }
      }
    }
  }
}
.product-list {
  width: 80vmax;
  margin: 0 auto;
  ul {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    li {
      z-index: 1;
      box-sizing: inherit;
      position: relative;
      width: auto;
      height: 18vmax;
      overflow: hidden;
      border: 1px solid #e1e1e1;
      &:hover,
      &:hover img {
        cursor: pointer;
        border-color: #d99054;
      }
      nav {
        display: block;
        box-sizing: inherit;
        img {
          position: absolute;
          z-index: -1;
          height: 16vmax;
          width: auto;
          transform: translate(-1vmax, -0.5vmax);
          border-bottom: 5px solid #e1e1e1;
        }
      }
      span {
        width: 100%;
        position: relative;
        top: 16vmax;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        color: #2f1339;
        h2 {
          text-transform: none;
          width: inherit;
          z-index: 2;
          overflow: hidden;
          display: inline-flex;
          &:after {
            z-index: -1;
            width: 0;
            white-space: nowrap;
            content: ' .................... ';
          }
        }
        p {
          z-index: 2;
          padding-left: 2%;
        }
      }
    }
  }
}
.taxonomy-description {
  p {
    font-size: 1.8vmin;
  }
}
.tax-content {
  display: flex;
  flex-flow: row-reverse nowrap;
  width: 1120px;
  margin: 0 auto;
  box-sizing: inherit;
  justify-content: center;
  .hentry {
    width: 100%;
    flex: 1 0 20%;
    display: block;
    margin: 0 1%;
    height: 25vmax;
    border: 1px solid #e1e1e1;
    align-self: center;
    overflow: hidden;
    box-sizing: inherit;
    &:hover,
    &:hover .tax-header img {
      cursor: pointer;
      border-color: #d99054;
    }
    .tax-header {
      height: 20vmax;
      width: 100%;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: -1;
        border-bottom: 5px solid #e1e1e1;
      }
      .tax-title {
        font-size: 1.7vmin;
        width: 100%;
        justify-content: space-around;
        a {
          margin: 0 auto;
          display: inline-flex;
          justify-content: space-between;
          font-family: 'Merriweather Web', serif;
          letter-spacing: 0;
          word-break: unset;
          text-align: left;
          text-decoration: none;
          color: #2f1339;
          text-transform: capitalize;
        }
        p {
          margin-left: 5%;
          z-index: 2;
        }
      }
    }
  }
}
//******************END CODING for PAGE AREA
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
/***************START for front page VIEW*************/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.site-header {
  width: 100%;
  padding: 0;
  a {
    text-decoration: none;
    text-decoration-color: white;
  }
  ul,
  li {
    list-style-type: none;
  }

  .main-navigation {
    font-family: 'Novecento Sans Web', sans-serif;
    background: transparent;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 2;
    .logo-head {
      height: auto;
      width: 3.5vmax;
    }
    .search-form {
      margin-right: 2%;
      flex: 0 2 auto;
      order: 1;
      display: flex;
      flex-flow: row nowrap;
      align-content: flex-end;
      align-items: flex-end;
      justify-content: flex-end;
      position: relative;
      color: white;
      .search-field {
        display: none;

        background: transparent;
        color: white;
        border: 0;
        &:before,
        &:after {
          transition: 0.5s linear;
        }
      }
      .search-submit {
        display: none;
      }
    }
    .menu-top-menu-container {
      flex: 1 0 auto;
      order: 0;
      position: relative;
      padding: 0.5%;

      ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &:before,
        &:after {
          transition: 0.5s linear;
        }
        li {
          padding: 0 1%;
          flex: 1 0 auto;
          text-shadow: 1px 2px rgba(0, 0, 0, 0.459);
          &:before,
          &:after {
            transition: 0.5s linear;
          }
          &:nth-child(1) {
            margin-left: 60%;
          }
          &:nth-child(5) {
            order: -1;
            padding-left: 3%;
            position: fixed;
            z-index: 10;
            &:hover {
              cursor: pointer;
            }
          }
          &:nth-child(6) {
            width: initial;
            text-align: center;
            color: white;
            font-size: 2vmax;
            align-self: center;
            & :hover {
              cursor: pointer;
            }
          }
          a {
            color: white;
            text-transform: uppercase;
            &:hover {
              cursor: pointer;
              color: #f0e4d1;
            }
          }
        }
      }
    }
  }
}
.head-pic {
  width: 100%;
  height: 50vmax;
  z-index: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
}
//*************END OF HEADER
//********* start for contents
//**CODING for SHOP STUFF
.shop-stuff {
  width: 1120px;
  height: auto;
  position: relative;
  padding: 2% 0;
  margin: 0 auto;
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2.2vmax;
    margin-bottom: 5%;
  }
  div {
    width: 100%;
    position: relative;
    .shop-list {
      margin: 0 auto;
      display: flex;
      flex-flow: row wrap;
      li {
        flex: 1 0 20%;
        list-style-type: none;
        border: 1px solid #e1e1e1;
        border-top-width: 5px;
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 0;
        margin: 0 1%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 2% 0 3% 0;
        p {
          margin: 0 0 5% 0;
          padding: 0 5%;
        }
        &:hover {
          border-color: #d99054;
          cursor: pointer;
        }
        img {
          height: auto;
          width: 5vmax;
          margin: 5% auto;
        }
        a {
          p {
            font-size: 1.8vmin;
            background-color: #248a83;
            color: white;
            margin: 0 auto;
            padding: 5% 0;
            width: 60%;
            text-transform: uppercase;
          }
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
}
/*************END for SHOP STUFF
**************START of CODING for JOURNAL SECTION
*/
.inhabitent-journal {
  width: 1120px;
  height: auto;
  margin: 0 auto 5% auto;
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2.2vmax;
    margin-bottom: 5%;
  }
  ul {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    li {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
      border: 1px solid #e1e1e1;
      position: relative;
      list-style-type: none;
      padding-bottom: 3%;
      margin: 0 1%;
      flex: 1 0 25%;
      nav {
        width: 100%;
        position: relative;
        background: #e1e1e1;
        padding-bottom: 1px;
        height: 20vmax;
        border-bottom: 5px solid #e1e1e1;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      p {
        padding-left: 2%;
        margin: 0;
      }
      h2 {
        padding-left: 2%;
        text-align: left;
        font-size: 1.5vmax;
        word-wrap: break-word;
        a {
          text-decoration: none;
          text-decoration-color: #248a83;
          color: #248a83;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      .read-entry {
        padding: 3%;
        border: 1px solid black;
        text-decoration: none;
        text-decoration-color: black;
        color: black;
        margin-left: 2%;
        &:hover {
          background: #248a83;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
.site-content {
  width: 100%;
  height: auto;
  .site-main {
    transform: none;
  }
} //***********END for JOURNAL SECTION
//*************START for LATEST Adventures
.latest-adv {
  width: 1120px;
  margin: 0 auto 2% auto;
  position: relative;
  height: inherit;
  box-sizing: border-box;
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2.2vmax;
  }
  ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 20vmax 20vmax;
    grid-gap: 1%;
    position: relative;
    margin-top: 2%;
    li {
      height: 100%;
      position: relative;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      a {
        text-decoration: none;
        text-decoration-color: white;
        color: white;
        border: 1px solid white;
        padding: 3% 1%;
        width: 10vmax;
        text-align: center;
        font-size: 1vmax;
        margin: 2%;
        &:hover {
          cursor: pointer;
          background: #248a83;
          color: white;
          border-color: transparent;
        }
      }

      h2 {
        display: flex;
        flex-flow: row wrap;
        // align-items: center;
        align-content: center;
        background: rgba(0, 0, 0, 0.2);
        text-transform: capitalize;
        font-family: 'Merriweather Web', serif;
        line-height: 1.2;
        &:hover,
        &:hover a {
          cursor: pointer;
          color: #f0e4d1;
        }
        a {
          display: block;
          font-size: 3vmax;
          word-wrap: break-word;
          text-align: left;
          width: 100%;
          border: 0;
          pointer-events: none;
        }
      }

      &:nth-child(1) {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
      }
      &:nth-child(2) {
        grid-column: 3 / span 4;
      }
      &:nth-child(3) {
        grid-row: auto;
        grid-column: auto;
      }
      &:nth-child(4) {
        grid-row: auto;
        grid-column: 4 / span 3;
      }
      img {
        height: 100%;
        width: 100%;
        z-index: -1;
        object-fit: cover;
        position: absolute;
      }
    }
  }
  .more-adv {
    text-decoration: none;
    color: white;
    padding: 1%;
    background: #248a83;
    margin-top: 2%;
    position: relative;
    display: inherit;
    width: max-content;
    text-align: center;
    &:hover {
      cursor: pointer;
      background: #19625d;
    }
  }
}

//***********END of CONTENTS
//***************Start of FOOTER
.site-footer {
  width: 100%;
  background-image: url('res/logos/dark-wood@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 0;
  display: block;
  position: relative;
  p {
    width: 100%;
    text-align: center;
    color: white;
  }
  .site-info {
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    .contact-info {
      li {
        padding: 0.5% 0;
        list-style-type: none;
        &:nth-child(1) {
          color: #d99054;
          font-weight: bold;
          font-size: 1.5vmax;
        }
        i {
          color: white;
          font-size: 2vmax;
          padding: 0 1%;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .business-hour {
      li {
        padding: 0.5% 0;
        list-style-type: none;
        &:nth-child(1) {
          color: #d99054;
          font-weight: bold;
          font-size: 1.5vmax;
        }
        strong {
          font-weight: bold;
        }
      }
    }
    img {
      color: white;
      text-decoration-color: white;
      margin: auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

//************STYLE for INNER page TEMPLATE
//***** HEADER
.main-header {
  width: 100%;
  color: #248a83;
  .head-navigation {
    font-family: 'Novecento Sans Web', 'sans-serif';
    background: hsla(0, 0%, 100%, 0.85);
    border-bottom: 1px solid #c8c8c8;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 2;
    .logo-head {
      height: auto;
      width: 4vmax;
    }
    .search-form {
      margin-right: 2%;
      flex: 0 2 auto;
      order: 1;
      display: flex;
      flex-flow: row nowrap;
      align-content: flex-end;
      align-items: flex-end;
      justify-content: flex-end;
      position: relative;
      .search-field {
        display: none;

        background: transparent;
        border: 0;
        &:before,
        &:after {
          transition: 0.5s linear;
        }
      }
      .search-submit {
        display: none;
      }
    }
    .menu-top-menu-container {
      flex: 1 0 auto;
      order: 0;
      position: relative;
      padding: 0.5%;

      ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &:before,
        &:after {
          transition: 0.5s linear;
        }
        li {
          padding: 0 1%;
          flex: 1 0 auto;
          &:before,
          &:after {
            transition: 0.5s linear;
          }
          &:nth-child(1) {
            margin-left: 50%;
          }
          &:nth-child(5) {
            order: -1;
            padding-left: 3%;
            position: fixed;
            z-index: 10;
            &:hover {
              cursor: pointer;
            }
          }
          &:nth-child(6) {
            width: initial;
            text-align: center;
            font-size: 2vmax;
            align-self: center;
            & :hover {
              cursor: pointer;
            }
          }
          a {
            text-decoration: none;
            color: #248a83;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .head-pic {
    color: #248a83;
    width: 100%;
    height: 50vmax;
    z-index: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
.main-site {
  position: relative;
  width: 100%;
  top: 5vmax;
  height: inherit;
  margin-bottom: 15%;
  h2 {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 2.6vmax;
    text-transform: uppercase;
    font-family: 'Novecento Sans Web', sans-serif;
  }
  .taxonomy-description {
    width: 100%;
    text-align: center;
    font-size: 1.2vmax;
  }
  .article-content {
    height: inherit;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    article {
      margin: 1%;
      width: auto;
      height: 40vmax;
      flex: 0 1 40%;
      overflow: hidden;
      box-sizing: inherit;
      .entry-header {
        z-index: -1;
        height: 100%;
        img {
          position: relative;
          object-fit: cover;
          // background: linear-gradient(to bottom, rgba(0,0,0,0.9) 100%,rgba(0,0,0,0.95) 100%);
          z-index: -1;
          height: 100%;
          width: 100%;
        }
        h2 {
          position: relative;
          font-size: 1.5vmax;
          transform: translateY(100%);
          word-wrap: break-word;
          padding: 5% 1%;
          background: rgba(0, 0, 0, 0.399);
          text-align: left;
          // color: white;
          // display: flex;
          // flex-flow: row nowrap;
          // justify-content: space-between;
          a {
            color: white;
            text-decoration: none;
            text-transform: capitalize;
            z-index: 1;
          }
        }
      }

      .entry-content {
        position: relative;
        z-index: 10;
        margin: 0 0 2% 2%;
        width: 100%;
        a {
          text-decoration: none;
          border: 1px solid white;
          color: white;
          padding: 2% 1%;
          &:hover {
            cursor: pointer;
            background: #248a83;
            color: white;
          }
        }
      }
    }
  }
}

//***************STLYE for ABOUT PAGE
.about-main {
  width: 100%;
  height: inherit;
  z-index: -1;
  position: relative;
  .about-banner {
    width: 100%;
    height: 70vmax;
    display: flex;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    h2 {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      height: 70vmax;
      width: 100%;
      z-index: 99;
      background: rgba(0, 0, 0, 0.1);
      font-weight: 600;
      font-size: 8vmin;
      color: white;
    }
  }
  .entry-content {
    margin: 3% 0;
    text-align: justify;
    & > * {
      margin: 2% 0;
    }
    h2 {
      width: 100%;
      text-align: center;
      color: #2f1339;
      font-size: 5vmin;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

//*****************STYLE for FIND-US PAGE
.site-content {
  .home-area {
    width: 1120px;
    margin: 0 auto;

    .home-main {
      width: 100%;
      display: block;
      padding-bottom: 5em;
      grid-column: unset;
      .hentry {
        width: 100%;
        grid-template-columns: 70% 1fr;
        grid-gap: 5px;
      }
    }
  }
}

.post-41 {
  padding-top: 5vmax;
  display: grid;
  margin: 0 auto;

  text-align: left;
  &:after,
  &:before {
    box-sizing: border-box;
  }

  .entry-header {
    display: none;
    grid-column: 1 / 2;
  }
  .entry-content {
    width: 100%;
    h2 {
      font-size: 5vmin;
      font-weight: 600;
    }
    iframe {
      width: 100%;
    }
    .send-us {
      font-size: 5vmin;
      font-weight: 600;
    }
    .wpcf7-submit {
      padding: 2% 3%;
      background: #248a83;
      color: white;
      border: 0;
      &:hover {
        background: #19625d;
        color: white;
        cursor: pointer;
      }
    }
    .wpcf7-textarea {
      width: 90%;
    }
  }
  .widget-section {
    width: 100%;
    height: 100%;
    grid-column: 2;
    padding: 0 2%;
    h2 {
      font-size: 5vmin;
      font-weight: 600;
      margin-bottom: 5%;
    }
    span {
      font-weight: 600;
    }
    a {
      text-decoration: none;
      color: #248a83;
    }
  }
}
//***************PRODUCT's Specific item PAGE
.single-area {
  position: relative;
  transform: translateY(6rem);
  margin: 0 auto;
  width: 1120px;
  height: 46vmax;
  .single-main {
    width: 100%;
    ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      height: 38vmax;
      li {
        background: white;
        &:nth-child(1) {
          grid-column: 1 / span 3;
          grid-row: 1 / span 5;
          z-index: -1;
          overflow: hidden;
          img {
            object-fit: cover;
            position: absolute;
            width: auto;
            height: 65%;
            align-self: center;
          }
        }
        &:nth-child(2) {
          padding-left: 2%;
          grid-column: 4 / span 5;
          font-weight: 500;
          font-family: 'Novecento Sans Web', sans-serif;
          color: #d99054;
          font-size: 5vmin;
          text-transform: uppercase;
        }
        &:nth-child(3) {
          padding-left: 2%;
          font-family: 'Novecento Sans Web', sans-serif;
          font-size: 3vmin;
          grid-column: 4 / span 5;
        }
        &:nth-child(4) {
          padding-left: 2%;
          font-size: 1.7vmin;
          grid-column: 4 / span 5;
          p {
            text-align: justify;
          }
          span {
            font-size: 1.5vmax;
            line-height: 1.5;
          }
        }
        &:nth-child(5) {
          padding-left: 2%;
          grid-column: 4 / span 5;
          i {
            padding: 3% 4%;
            border: 1px solid black;
            font-size: 1.5vmax;
            &:hover {
              cursor: pointer;
              background: #248a83;
              color: white;
            }
          }
        }
      }
    }
  }
}

//***********STYLE for JOURNAL PAGE
.home-area {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
  transform: translateY(6em);
  padding-bottom:5%;
  .home-main {
    grid-column: 1;
    ul{
      padding:0;
    }
  }
  .widget-area {
    grid-column: 2;
  }
}
//*************************SEARCH PAGE
.s-area {
  width: 1120px;
  margin: 0 auto;
  padding: 0 3%;
  transform: translateY(5vmax);
  display: grid;
  grid-template-columns: 80% 20%;
  padding-bottom: 10%;
  .s-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: left;
    .page-header {
      width: 100%;
      border-bottom: 1px dotted gray;
      h1 {
        font-size: 5vmin;
        text-transform: uppercase;
        word-wrap: break-word;
      }
    }
    .hentry {
      display: block;
      width: 100%;
      .entry-meta {
        text-align: left;
        width: 100%;
        margin: 0;
        font-style: italic;
      }
      h2 {
        text-align: left;
        text-transform: uppercase;
        padding: 1% 0;
        a {
          text-decoration: none;
          color: #248a83;
          font-size: 3vmin;
        }
      }
    }
  }

  .widget-area {
    border-left: 1px dotted gray;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 2% 5%;
    .widget {
      > * {
        padding: 0.5% 0;
        list-style-type: none;
        &:nth-child(1) {
          color: black;
          font-weight: bold;
          font-size: 4vmin;
        }
        strong {
          font-weight: bold;
        }
      }
      a {
        text-decoration: none;
        color: #248a83;
      }
    }
  }
}

//**********************the JOURNAL CONTENT
.home-list {
  height: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  justify-items: left;
  padding: 0 10%;
  li {
    flex: 1 0 20vmax;
    padding: 2% 0;
    nav {
      width: 100%;
      height: inherit;
      img {
        object-fit: cover;
        width: auto;
        z-index: -1;
        height: 35vmax;
      }
      h2 {
        width: max-content;
        z-index: 99;
        padding: 1%;
        background: #248a83;
        position: relative;
        font-size: 1.8vmax;
        top: -18em;

        &:hover a {
          cursor: pointer;
          color: #f0e4d1;
        }
        a {
          word-wrap: break-word;
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
        }
      }
      span {
        padding: 1%;
        background: #248a83;
        color: white;
        position: relative;
        top: -6.3vmax;
        left: 22.5em;
      }
    }
    p {
      line-height: 1.5;
      text-align: justify;
    }
    .read-more {
      padding: 2%;
      border: 1px solid black;
      text-decoration: none;
      color: black;
      &:hover {
        cursor: pointer;
        background: #248a83;
        color: white;
      }
    }
  }
}
//****************SINGLE Specific PAGE
.si-area {
  width: 100%;
  padding: 0 5% 10% 5%;
  transform: translateY(6em);
  display: grid;
  grid-template-columns: 4fr 1fr;
  .si-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    width: 100%;
    height: inherit;
    box-sizing: inherit;
    article {
      overflow: hidden;
      width: 100%;
      height: inherit;
      img {
        position: relative;
        z-index: -1;
        height: 52vmax;
        width: auto;
      }
      h1 {
        width: max-content;
        z-index: 99;
        padding: 1%;
        color: white;
        background: #248a83;
        position: relative;
        font-size: 2.4vmax;
        top: -20em;
        margin: 0;
      }
      .entry-meta {
        a {
          text-decoration: none;
          color: white;
        }
        span {
          padding: 1%;
          margin: 0;
          background: #248a83;
          color: white;
          position: relative;
          border: 0;
        }
      }
    }
  }
  .widget-area {
    display: block;
  }
}
