/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
/***************START of DESKTOP VIEW*************/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.site-header {
  width: 100%;
  padding: 0;
  a {
    text-decoration: none;
    text-decoration-color: white;
  }
  ul,
  li {
    list-style-type: none;
  }

  .main-navigation {
    background: transparent;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 2;
    .logo-head {
      height: auto;
      width: 4vmax;
    }
    .search-form {
      margin-right: 2%;
      flex: 0 2 auto;
      order: 1;
      display: flex;
      flex-flow: row nowrap;
      align-content: flex-end;
      align-items: flex-end;
      justify-content: flex-end;
      position: relative;
      color: white;
      .search-field {
        display: none;

        background: transparent;
        color: white;
        border: 0;
        &:before,
        &:after {
          transition: 0.5s linear;
        }
      }
      .search-submit {
        display: none;
      }
    }
    .menu-top-menu-container {
      flex: 1 0 auto;
      order: 0;
      position: relative;
      padding: 0.5%;
      ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        &:before,
        &:after {
          transition: 0.5s linear;
        }
        li {
          padding: 0 1%;
          flex: 1 0 auto;
          &:before,
          &:after {
            transition: 0.5s linear;
          }
          &:nth-child(1) {
            margin-left: 50%;
          }
          &:nth-child(5) {
            order: -1;
            padding-left: 3%;
            position: fixed;
            z-index: -1;
          }
          &:nth-child(6) {
            width: initial;
            text-align: center;
            color: white;
            font-size: 2vmax;
            align-self: center;
            & :hover {
              cursor: pointer;
            }
          }
          a {
            color: white;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
.head-pic {
  width: 100%;
  height: 50vmax;
  z-index: 1;
}
//*************END OF HEADER
//********* start for contents
//**CODING for SHOP STUFF
.shop-stuff {
  width: 100%;
  height: auto;
  position: relative;
  padding: 2% 0;
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 4vmax;
    margin-bottom: 5%;
  }
  div {
    width: 100%;
    position: relative;
    .shop-list {
      margin: 0 auto;
      display: flex;
      flex-flow: row wrap;
      li {
        flex: 1 0 20%;
        list-style-type: none;
        border: 1px solid #e1e1e1;
        border-top-width: 5px;
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 0;
        margin: 0 1%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 2% 0 3% 0;
        p {
          margin: 0 0 5% 0;
          padding: 0 5%;
        }
        &:hover {
          border-color: #d99054;
          cursor: pointer;
        }
        img {
          height: auto;
          width: 8vmax;
          margin: 5% auto;
        }
        a {
          p {
            font-size: 1.8vmax;
            background-color: #248a83;
            color: white;
            margin: 0 auto;
            padding: 5% 0;
            width: 60%;
            text-transform: uppercase;
          }
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
}
.site-content {
  width: 100%;
  height: auto;
}
//***********END of CONTENTS
//***************Start of FOOTER
.site-footer {
  width: 100%;
  background-image: url('res/logos/dark-wood@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 0;
  p {
    width: 100%;
    text-align: center;
    color: white;
  }
  .site-info {
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    .contact-info {
      li {
        padding: 0.5% 0;
        list-style-type: none;
        &:nth-child(1) {
          color: #d99054;
          font-weight: bold;
          font-size: 1.5vmax;
        }
        i {
          color: white;
          font-size: 2vmax;
          padding: 0 1%;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .business-hour {
      li {
        padding: 0.5% 0;
        list-style-type: none;
        &:nth-child(1) {
          color: #d99054;
          font-weight: bold;
          font-size: 1.5vmax;
        }
        strong {
          font-weight: bold;
        }
      }
    }
    img {
      color: white;
      text-decoration-color: white;
      margin: auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
