//*************RUSH hour over ride styles for each specific page

//**************single-adventures page
.area-adventures {
  padding: 0;
  display: block;
  margin: 0;
  transform: unset;
  width:100%;
  .main-adventures {
    display: block;
    box-sizing: border-box;
    width:100%;
    padding:0;
    article {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .title-adventures {
        color: #404040;
        padding: 0;
        margin: 2% auto;
        background: unset;
        font-size: 2.7vmax;
        top: 0;
        font-weight: 600;
      }
      .entry-meta span {
        background: unset;
        color: #404040;
        font-size: 1.5vmax;
        font-family: 'Novecento Sans Web', sans-serif;
      }
    }
  }
}

//************ for sidebar widget area
.side-widget-area {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 5%;
  border-left: 1px solid gray;
  width: 100%;
  aside{
    width:min-content;
    p{
      span{
        display:block;
      }
    }
  }
  .widget-title {
    font-family: 'Novecento Sans Web', sans-serif;
    font-size: 1.7vmax;
    font-weight: 600;
    width: max-content;
    margin: 10% 0;
  }
  
  ul {
    display: flex;
    flex-flow: column nowrap;

    li {
      display: inline-flex;
      justify-content: stretch;
      margin: 1% 0;
      &:nth-child(1){
        width: max-content;
      }
      a {
        text-decoration: none;
        color: #248a83;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      i {
        align-self: center;
        font-size: 1.5vmax;
        margin-right: 1%;
      }
      p {
        margin: 0;
        text-align: right;
      }
    }
  }
  span {
    font-weight: 600;
  }
}

//**************JOURNAL META single POST
.hentry .entry-header .journal-meta{
  width:fit-content;
  margin:0 auto;
  nav{
    height:inherit;
    width:100%;
    img{
      height: 50vmax;
    width: 100%;
    object-fit: cover;
    }
    .post-entry{
      background:#248a83;
      padding:1%;
      width: fit-content;
      position: relative;
      display: inline-flex;
      font-family: 'Novecento Sans Web',sans-serif;
      justify-content: stretch;
      float: right;
      bottom: 9vmax;
      span{
        display: inline-flex;
        width: max-content;
        & > .updated{
          display: none;
        }
        &>*{
          display:inline-flex;
          word-break: unset;
          width:max-content;
        }
      }
      
    }
  }
}
.cat-links{
  font-family: Novecento Sans Web,sans-serif;
  text-transform: uppercase;
  a{
    text-decoration: none;
    color:#248a83;
  }
}
.tags-links{
  font-family: Novecento Sans Web,sans-serif;
  text-transform: uppercase;
  a{
    text-decoration: none;
    color:#248a83;
  }
}
.comments-area{
  padding-top:5%;
  .submit{
    background:#248a83;
    color:white;
    font-family: Novecento Sans Web,sans-serif;
    padding:1% 2%;
    border:0;
    &:hover{
      background: white;
      border:1px solid black;
      color:dimgray;
      cursor: pointer;
    }
  }
  h2,h3{
    color:#2f1339;
    font-size:3vmax;
  }
  #cancel-comment-reply-link{
    font-size:1.5vmax;
  }
  .fn{
    font-style: unset;
    font-weight: 600;
  }
  .comment-metadata{
    color:gray;
  }
  p{
    margin:5% 0;

  }
  a{
    color:#248a83;
    text-decoration: none;
  }
  .comment-list{
    display: flex;
    flex-flow: column nowrap;
    .comment-body{
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
    }
    .comment-author-avatar{
      width:auto;
      height:6vmax;
      margin:1% 2%;
      img{
        width: auto;
        height:100%;
        border-radius: 100%;
      }
    }
  }
}
//************for 404 Page
.site-content .error-site{
  display:grid;
  grid-template-columns: 75% auto;
  width: 100%;
  position: relative;
  transform: translateY(5vmax);
}
.error-404{
  grid-column: 1;

  position: relative;
  width: 90%;
  height: inherit;
  padding-bottom:10vmax;
  margin: 0 auto;
  display:flex;
  flex-flow:column nowrap;
  box-sizing: border-box;
  input{
    font-family: 'Merriweather Web',serif;
    padding:1%;
    border:1px solid gray;
    width:40%;
  }
  .search-submit{
    display:none;
  }
  h1{
    font-size: 3.5vmax;
  }
  h2{
    font-size: 1.8vmax;
  }
  .error-content{
    width: 100%;
    display:list-item;
    list-style: none;
 
    ul{
      display:list-item;
      li{
        
        a{
          text-transform: capitalize;
          font-size:1rem;
        }
      }
    }
  }
}

.page-title{
  letter-spacing: 2px;
    text-transform: uppercase;
    color:#404040;
    font-size:2.4rem;
    font-weight: 600;
}